
@font-face {
	font-family: 'Pathway Gothic One';
	src: url('../fonts/pathway-gothic-one.regular/PathwayGothicOne-Book.eot');
	src: url('../fonts/pathway-gothic-one.regular/PathwayGothicOne-Book.eot?#iefix') format('embedded-opentype'),
		url('../fonts/pathway-gothic-one.regular/PathwayGothicOne-Book.woff2') format('woff2'),
		url('../fonts/pathway-gothic-one.regular/PathwayGothicOne-Book.ttf') format('truetype'),
		url('../fonts/pathway-gothic-one.regular/PathwayGothicOne-Book.svg#PathwayGothicOne-Book') format('svg');
	font-weight: 200;
	font-style: normal;
}
h2 {
	font-size: 18pt;
	font-family: 'Pathway Gothic One';
	color: #333366;
	}
h4 {
	font-size: 9.5pt;
	font-family: 'arial';
	line-height: 19px;
	color: #333366;
	}
p {
	font-size: 9pt;
	font-family: 'arial';
	line-height: 17px;
	color: #333366;
	}

ol, ul, li {
	 list-style: none;
	}
.line{
	margin-top: 40px;
	margin-bottom: 40px;
	color: #ccc;
	}

.wrapper{
	width: 482px;
	height: 1830px;
	background-color: #fff;
	border: 1px solid black;
	margin: auto;
	box-sizing: border-box;
	padding: 37px;
	}
.header{
	height: 73px;
	text-align: left;
	color: #336;
	box-sizing: border-box;
	margin: auto;
	}
.head_img{
	width: 406px;
	height: 98px;
	}
.head_info{
	height: 217px;
	color: #333366;
	margin: auto;
	}
.our_principles{
	height: 420px;
	color: #333366;
	margin: auto;
	}
.what_we_offer{
	height: 290px;
	color: #333366;
	margin: auto;
	}

.list ul {
    margin: 0;
    padding: 4px;
   }
.list ul li {
	box-sizing: border-box;
	width: 50%;
	display: inline-block;
    margin: 0px;
    margin-left: -4px;
    border: 0px;
    padding-top: 3px;
    padding-left: 15px;
	text-align: left;
	color: navy;
	cursor: pointer;
	font-size: 10pt;
	font-family: 'arial';
	line-height: 200%}
