body {
	background: url(../img/background.jpg) no-repeat;
	background-size: cover;
}

.wrapper {
	width: 1024px;
	margin: auto;
}

.main {
	box-sizing: border-box;
	padding: 60px 60px 100px 60px;
	background-color: #fff;
}

header {
	box-sizing: border-box;
	width: 1024px;
	margin: auto;
	padding: 60px;
}

.logo {
	width: 140px;
	height: 140px;
	border-radius: 70px;
	background-color: rgba(100%, 100%, 100%, 1);
	border-style: solid 1px black;
	position: relative;
	left: 50%;
	transform: translate(-50%);
	text-align: center;
	line-height: 140px;
	font-family: dorsa;
	font-size: 48px;
}

nav {
	position: relative;
}

nav ol {
	font-family: 'Pathway Gothic One';
	font-size: 28px;
	position: absolute;
	top: -115px;
	color: white;
}

nav ol li {
	display: inline-block;
	width: 108px;
}

nav ol li:hover {
	color: black;
}

.li_r {
	padding-left: 184px;
}

.menu {
	position: relative;
}

.sub_menu {
	box-sizing: border-box;
	width: 63px;
	height: 83px;
	border-radius: 3px;
	background-color: #fff;
	position: absolute;
	top: 33px;
	left: -6px;
	color: #669;
	font-size: 20px;
	text-align:center;
	display: none;
}

.sub_menu li {
	position: relative;
	left: -62px;
	top: 5px;
}

.menu:hover .sub_menu {
	display: block;
}

.main {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

.recent_post {
	width: 670px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
 hr {
 	width: 670px;
	margin:50px 0;
 }
.post {
	width: auto;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
}

.head {
	width: auto;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	font-weight: 600;
}

.date {
	color: #fff;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background-color: #38afe5;
	font-family: arial;
	font-size: 8.8px;
	text-align: center;
}

.caption {
	width: 600px;
	display: flex;
	flex-flow: column nowrap;
	margin-left: 10px;
}

.c_info {
	font-family: arial;
	font-size: 12.8px;
	text-transform: uppercase;
}

.p_info {
	display: flex;
	justify-content: space-between;
	font-family: arial;
	font-size: 10.4px;
}

.p_info_post {
	/*display: inline-block;*/
}
.p_info_comments {
	/*display: inline-block;*/
}

.art {
	width: auto;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	margin-top: 12px;
}

.prewiew {
	height: 225px;
	width: 288px;
}

.description {
	width: 345px;
	margin-left: 18px;
}

.description h4{
	margin: 0 10px 10px 0;
	font-family: Arial;
	font-size: 12.8px;
}

.description p{
	font-family: Arial;
	font-size: 10.4px;
}


.details {
	width: 60px;
	height: 20px;
	border-radius: 5px;
	background-color: #f0f0f0;
	border-style: solid;
	border-width: 1px;
	border-color: #bbb4b4;
	margin: 16px auto;
	text-align: center;
}

.cat_arch {
	width: 210px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	font-family: arial;
	font-size: 12.8px;
	font-weight: 600;
}

.cat_arch {
	flex-direction: column;
}

.li_cat {
	height: 33px;
}

.li_cat:before {
	content: url(../img/arrow.png);
	padding-right: 3px;
}

.li_arc {
	height: 33px;
}

.li_arc:before {
	content: url(../img/arrow.png);
	padding-right: 3px;
}

.info {
	height: 135px;
	background-color: #336;
	padding-top: 40px;
	padding-left: 138px;
}

.info ol {
	padding: 0;
}

.info ol li {
	display: inline-block;
	box-sizing: border-box;
	width: 190px;
	height: 28px;
	color: #fff;
	vertical-align: text-top;
	font-family: 'Pathway Gothic One';
	font-size: 16px;
}

.links {
	height: 125px;
}
.social {
	margin: auto;
	text-align: center;

}

.tw {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	display: inline-block;
	background: url(../img/social.png) no-repeat;
	margin: 30px 5px 20px 5px;
}
.fb {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	display: inline-block;
	background: url(../img/social.png) no-repeat;
	background-position: -52px 0;
	margin: 30px 5px 20px 5px;
}
.gl {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	display: inline-block;
	background: url(../img/social.png) no-repeat;
	background-position: -106px 0;
	margin: 30px 5px 20px 5px;
}
.li {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	display: inline-block;
	background: url(../img/social.png) no-repeat;
	background-position: -158px 0;
	margin: 30px 5px 20px 5px;
}

.links p {
	font-family: Arial;
	font-size: 12px;
	color: #fff;
	text-align: center;
}