@font-face {
	font-family: 'Pathway Gothic One';
	src: url('../fonts/PathwayGothicOne-Book.eot');
	src: url('../fonts/PathwayGothicOne-Book.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PathwayGothicOne-Book.woff2') format('woff2'),
		url('../fonts/PathwayGothicOne-Book.ttf') format('truetype'),
		url('../fonts/PathwayGothicOne-Book.svg#PathwayGothicOne-Book') format('svg');
	font-weight: 200;
	font-style: normal;
}

p {
	font-size: 13px;
	line-height: 19px;
	font-family: Arial;
}

h6 {
	font-size: 15px;
	line-height: 19px;
	font-family: Arial;
}

h5 {
	font-size: 16px;
	line-height: 19px;
	font-family: Arial;
}

h2 {
	font-size: 32px;
	line-height: 45px;
	font-family: "Pathway Gothic One";
}


.wrapper {
	width: 1025px;
	margin: auto;
	border: 1px solid black;
	padding: 63px;
}

.about h6{
	margin-bottom: 15px;
}

.info {
}

.agency_profile {
	display: inline-block;
	width: 686px;
	padding-right: 44px;
}

.agency_profile h2{
	margin-bottom: 50px;
}

.ap_image {
	display: inline-block;
	vertical-align: top;
	float: left;
	margin: 0px 23px 23px 0;
	}

.ap_text {
	display: inline-block;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.our_principles {
	display: inline-block;
	vertical-align: top;
	width: 207px;
	padding-left: 38px;
}
.our_principles ol {
	list-style-type: decimal;
}

.our_principles h2{
	margin-bottom: 50px;
}

.our_principles p{
	margin-bottom: 30px;
}

.hr {
	margin: 53px 0 58px 0;
}

.what_we_offer {
	display: inline-block;
	vertical-align: top;
	width: 686px;
	padding-right: 44px;
}

.what_we_offer ul li{
	display: inline-block;
	width: 268px;
	font-family: Arial;
	font-size: 15px;
	margin-bottom: 23px;
	padding-left: 20px;
}

.what_we_offer li::before {
	content: url(../img/arrow.png);
	position: relative;
	left: -20px;
}

.what_we_offer h2{
	margin-bottom: 65px;
}

.what_we_offer h6{
	margin-bottom: 30px;
}

.what_we_offer P{
	margin-bottom: 25px;
}

.testimonial {
	display: inline-block;
	vertical-align: top;
	width: 207px;
	box-sizing: border-box;
}

.testimonial h6 {
	display: inline-block;
	width: 100%;
	padding: 22px;
}
.testimonial h5 {
	display: inline-block;
	width: 100%;
	text-align: center;
}

.testimonial_bg {
	border: 1px solid #dfdcdc;
	background-color: #fcfafa;
	border-radius: 5px;
	padding: 21px;
	position: relative;
	margin-bottom: 63px;
	font-size: 15px;
	line-height: 19px;
	font-family: Arial;
	}
.testimonial_bg::before {
	content: ''; 
	position: absolute;
	left: 93px; bottom: -25px;
	border: 10px solid transparent;
	border-top: 15px solid #dfdcdc;
	}
.testimonial_bg::after {
	content: ''; 
	position: absolute;
	left: 93px; bottom: -20px;
	border: 10px solid transparent;
	border-top: 10px solid #dfdcdc;
	border-top: 16px solid #fcfafa;
	bottom: -24px; 
	}

.testimonial_bg h6 {
	display: inline-block;
	text-align: center;
	padding: 20px;
}

.testimonial h5 {
	margin-bottom: 20px;
}


.testimonial p {
	display: inline-block;
	width: 100%;
	text-align: center;
}

.testimonial h2{
	margin-bottom: 65px;
}

