@font-face {
	font-family: 'Pathway Gothic One';
	src: url('../fonts/PathwayGothicOne-Book.eot');
	src: url('../fonts/PathwayGothicOne-Book.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PathwayGothicOne-Book.woff2') format('woff2'),
		url('../fonts/PathwayGothicOne-Book.ttf') format('truetype'),
		url('../fonts/PathwayGothicOne-Book.svg#PathwayGothicOne-Book') format('svg');
	font-weight: 200;
	font-style: normal;
}

p {
	font-size: 13px;
	line-height: 19px;
	font-family: Arial;
}

h6 {
	font-size: 15px;
	line-height: 19px;
	font-family: Arial;
}

h5 {
	font-size: 16px;
	line-height: 19px;
	font-family: Arial;
}

h2 {
	font-size: 32px;
	line-height: 45px;
	font-family: "Pathway Gothic One";
}


.wrapper {
	width: 1025px;
	margin: auto;
	border: 1px solid black;
	padding: 63px;
	/*box-sizing: border-box;*/
}

.about {
}

.info {
}

.agency_profile {
	display: inline-block;
	width: 686px;
	padding-right: 44px;
}

.ap_image {
	display: inline-block;
	vertical-align: top;
	float: left;
	margin: 0px 23px 23px 0;
	}

.ap_text {
	display: inline-block;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.our_principles {
	display: inline-block;
	vertical-align: top;
	width: 207px;
	padding-left: 38px;
}
.our_principles ol {
	list-style-type: decimal;
}

.what_we_offer {
	display: inline-block;
	vertical-align: top;
	width: 686px;
	padding-right: 44px;
}

.what_we_offer ul{
	list-style-image: url(../img/arrow.png);
}

.what_we_offer ul li{
	display: inline-block;
	width: 268px;
	font-family: Arial;
	font-style: 15px;
	line-height: 23px;
}


.testimonial {
	display: inline-block;
	vertical-align: top;
	width: 207px;
	/**/
}

.testimonial h6 {
	display: inline-block;
	width: 100%;
	padding: 22px;
}
.testimonial h5 {
	display: inline-block;
	width: 100%;
	text-align: center;
}

.testimonial p {
	display: inline-block;
	width: 100%;
	text-align: center;
}